@font-face {
    font-family: Recoleta;
    src: url('../../assets/fonts/Recoleta-Bold/Recoleta-Bold.ttf');
   
}

@font-face {
    font-family: Euclid;
    src: url("../../assets/fonts/Euclid/Euclid\ Circular\ A\ Regular.ttf");

   
}

.more  {
    p{
        font-family: Euclid;
        font-size: 12px;
    }
}

.container {

    // position: relative;
    margin-top: 1em;
    .note {

    margin-top: 3em;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
    //position: absolute;

        h1 {
            font-family: Recoleta;
            font-size: 3em;
            width: 60%;
            text-align: center;
            text-transform: capitalize;
            font-size: 72px;
            font-weight: bold;
            line-height: 1.5;
         
        }

        p {
            width: 50%;
            text-align: center;
            margin: 1em 0;
            font-family: Euclid;
            color: #666666;
            
           
        }

    }

}

//small screens 
@media  (max-width: 768px){
  .container {
      .note {

        h1 {
            font-size: 2em;
            width: 100%;
        }

        p {
            font-size:14px;
            width: 80%;
            
        }
      }
  }
}