@font-face {
    font-family: Recoleta;
    src: url('../../assets/fonts/Recoleta-Bold/Recoleta-Bold.ttf');
}

@font-face {
    font-family: Euclid;
    src: url("../../assets/fonts/Euclid/Euclid\ Circular\ A\ Regular.ttf");

   
}

.medias {
    display: flex;
    flex-wrap: wrap;
}

.heading {
    font-family: Recoleta;
    width: 263px;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    color: rgb(231, 229, 229) !important;
}

//for party

.split {
   
}

    .part{
        h2 {
          font-family: Recoleta;
          font-size: 1.5em;
          margin-bottom: 1em;
          width: 273px;
          line-height: 1.5em;
        }

        p {
            width: 20em;
            font-family: Euclid;
        }
      }


.container {
    .lady-part {
        margin-top: 3em;
    }
}

.details {

    margin: 2em 0;
    h1 {
      font-family: Recoleta;
      text-transform: capitalize;
        font-size: 2em;
        text-align: center;
    }

    p {
        font-family: Euclid;
        font-size: 1em;
        text-align: center;
        color: #666666;
        margin: 1em 0;
       
    }
}



@media (min-width: 1200px) {
    .container {
        .lady-part {
            width: 100%;
            margin-left: 5em;
        }
    }

    .left {
        width: 50%;
        margin-left: 4em;
    }
    

    //split container
  
}

//small screens and@

@media screen and (max-width: 768px) {

    //details part

    .part{
        h2 {
          font-family: Recoleta;
          font-size: 1.2em;
          margin-bottom: 1em;
          line-height: 1.5em;
        
        }

        p {
            width: 20em;
            
        }
      }

    .details {

        margin: 2em 0;
        h1 {
          font-family: Recoleta;
          text-transform: capitalize;
            font-size: 1.5em;
            text-align: center;
            margin: 1em 0;
        }
    }

    .heading {
        text-align: center;
        margin: 1em auto;
       
    }

    .left .btn-hold {
      text-align: center;
        margin: 2em auto;

        
        
    }

}