@font-face {
    font-family: Recoleta;
    src: url('../../../assets/fonts/Recoleta-Bold/Recoleta-Bold.ttf');
}

@font-face {
    font-family: Euclid;
    src: url('../../../assets/fonts/Euclid/Euclid\ Circular\ A\ Regular.ttf');
}




footer {

    padding: 5em 0;
    margin-top: 4   em;

    p{
        font-family: Euclid;
        color: #99ABCC !important;
    }

    color: white;
    ul {

        padding: 0;
        li {
            font-family: Euclid;
            color: #99ABCC !important;
            line-height:3;
        }
    }

    h5 {
        font-family: Euclid;
        font-size: 1em;
        font-weight: bold;
        color: #99ABCC !important;
    }
}


// large screen

@media screen and (min-width: 1200px) {
    footer {
        p {
            width: 20em;
        }
    }
}